# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# AWS credentials and private keys
*.pem
*.pub

# Terraform variables with sensitive information
*.tfvars

# Go Binary
go-server